{{#> layout }}
  <h1>Todos</h1>
  <form action="/todos" method="post" class="todos__form">
    <label for="title" class="todos__form__label">
      <input type="text" name="title" id="title" placeholder="Enter a todo title" class="todos__form__input" />
    </label>
    <button type="submit" class="todos__form__button">Add Todo</button>
  </form>

  {{#if todos.length}}
    <p>Here are a list of your todos:</p>
    <ul class="todos__list">
      {{#each todos}}
        <li>
          <a href="/todos/{{id}}" class="todos__item">
            {{title}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>You have no todos.</p>
  {{/if}}

{{/layout}}